@model IEnumerable<GroceryList.DAL.Models.Product>



<div class="col-md-10">

</div>
<div class="col-md-2 ">
    @using (Html.BeginForm("AddProduct", "Product"))
    {
        <input class="btn btn-success" type="submit" value="Add new product" />
    }
</div>


<table class="table  table-bordered " >
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Units</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.unit</td>
                <td>
                    @using (Html.BeginForm("DetailProduct", "Product", new { id = item.Id }, FormMethod.Post))
                    {
                        <input class="btn btn-info" type="submit" value="Detail" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("EditProduct", "Product", new { id = item.Id }, FormMethod.Post))
                    {
                        <input class="btn btn-warning" type="submit" value="Edit" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("DeleteProduct", "Product", new { id = item.Id }, FormMethod.Post, new { onclick = "return confirm('Confirm Deletion ?');" }))
                    {
                        <input class="btn btn-danger" type="submit" value="Delete"/>
                    }
                </td>
            </tr>
            i++;

        }
    </tbody>
</table>
